@import "reset";

body{
  background: #EDEDEE;
  text-align: center;
  margin-top: 300px;
  font-family: $font;
  h1{
    font-size: 90px;
    font-weight: 300;
  }
  p{
    letter-spacing: 10px;
    font-size: 20px;
    img{
      display: inline;
      vertical-align: middle;
      width: 20px;
    }
    a{
      transition: .5s;
    }
  }
}
