<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/main.min.css">
    <title>DevEnv</title>
  </head>
  <body>
    <h1>DevEnv</h1>
    <p><img src="assets/images/code.svg" alt="Coded"> by <a target="_blank" href="http://www.kinshukghildial.com/">kghildial</a></p>
    </div>
  </body>
</html>
